<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.webtood">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WebTooD">
        <activity android:name=".Success_Unlock_book"></activity>
        <activity android:name=".Success_Coin" />
        <activity android:name=".Register" />
        <activity android:name=".Paid" />
        <activity android:name=".Coin" />
        <activity android:name=".Unlock_book" />
        <activity android:name=".Book_detail" />
        <activity android:name=".Contact" />
        <activity android:name=".Edit_profile" />
        <activity android:name=".After_search" />
        <activity android:name=".ShelfBook" />
        <activity android:name=".Favorite" />
        <activity android:name=".Profile" />
        <activity android:name=".Readingpage" />
        <activity android:name=".Main_page" />
        <activity android:name=".Payment_page" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>